version: '3'

services:
  splunkenterprise:
    build: .
    hostname: splunkenterprise
    image: splunk/splunk:latest
    privileged: true
    environment:
      SPLUNK_START_ARGS: --accept-license
      SPLUNK_PASSWORD: changeme
      SPLUNK_ENABLE_LISTEN: 9997
      SPLUNK_ADD: tcp 1514
    volumes:
      - ./vol/etc:/opt/splunk/etc
      - ./vol/var:/opt/splunk/var
    ports:
      - "8000:8000"
      - "9997:9997"
      - "8088:8088"
      - "8089:8089"
      - "514:514/udp"
      - "1514:1514/tcp"
